spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      pool-name: HikariPool-Dev

  threads:
    virtual:
      enabled: true



  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    api.agendafacilpro: DEBUG
    org.hibernate.SQL: DEBUG

api:
  security:
    token:
      secret: ${JWT_SECRET}
    cookie:
      secure: false