spring:
  datasource:
    url: ${DB_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

    hikari:
      pool-name: HikariPool-AgendaPro-Prod
      maximum-pool-size: 20
      minimum-idle: 20
      connection-timeout: 30000
      max-lifetime: 1800000
      keepalive-time: 45000

      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true


  threads:
    virtual:
      enabled: true

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

logging:
  level:
    root: INFO
    api.agendafacilpro: INFO

api:
  security:
    token:
      secret: ${JWT_SECRET}
    cookie:
      secure: true